
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Call Center Calculator</title>
{#    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">#}
{#    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">#}
    <link rel="stylesheet" href="{% static 'css/assigntable.css' %}">
</head>
<body>
    <h1 class="page-header">Call Center Agent Assignment</h1>
    <form action="index.html" method="post">
        {% csrf_token %}
        <h2>Please input following values</h2>
        <p>Average Handling Time <input type="number" name="AHT" value="200" /> in seconds</p>
        <p>Reporting Period <input type="number" name="RP" value="60" /> in minutes</p>
        <p>Required Service Level <input type="number" name="SL" value="80" /> %, e.p. 80</p>
        <p>Target Answer Time <input type="number" name="TAT" value="60" /> in seconds</p>
        <p>Shrinkage <input type="number" name="Shrink" value="20" /> %, e.p. 20</p>


        <input type="submit" value="Calculation">
        <input type="reset">
    </form>

    <h1>Assignments:</h1>
    <table border="1">
        <thead>
            <th>Options</th>
            <th>Values</th>
        </thead>
        <tbody>
        {% for line in data %}
        <tr>
            <td>
                {{ line.name }}
            </td>
            <td>{{ line.int }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>